{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_field %}


{% block body %}
<!--Login Option starts here -->
<div class="container-fluid">
  <div class="row-fluid">
    <form role="form" 
        method="POST" action="{{ url_for('nereid.website.login') }}" id="login">	
      <h4> Sign in to Nereid Tutorial </h4>
      <hr>
      {{ render_field(login_form.email, input_prepend="icon-envelope", placeholder="email@example.com") }}
      {{ render_field(login_form.password, input_prepend="icon-key", placeholder="Password") }}
      <button class="btn cont offset2 span8" type="submit" id="sign-in" value="">
        <i class="icon-signin"></i> Sign In 
      </button>
    </form>

    <p>Do not have an account ? 
      <a href="{{ url_for('nereid.user.registration', next=request.args.get('next', url_for('nereid.website.home'))) }}">
              Click here to register</a>
    </p>
    
    <p>Forgot your password ? 
      <a href="{{ url_for('nereid.user.reset_account', next=request.args.get('next', url_for('nereid.website.home'))) }}">
              Click here to reset it yourself</a>
    </p>
  </div>
</div>
<!--Login Option Ends  here -->
{% endblock %}


{% block scripts %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){


  // Use client side validation on the form
  $("form#login").validate({
    errorElement: "span",
    wrapper: "li",
    highlight: function(element, errorClass) {
      $(element).parents("div.control-group").addClass("error");
    },
    unhighlight: function(element, errorClass) {
      $(element).parents("div.control-group").removeClass("error");
    },
    submitHandler: function(form) {
      $("form#login button.cont").button('loading');
      form.submit();
    }
  });
  $("form#login input[name='email']").rules("add", {
    email: "#email"
  });
});
</script>
{% endblock %}
